<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
             
               
                  <textarea class="form-control"  rows="10" readonly="">{{messages.join('\n')}}</textarea>
                    <hr>
                    <input  type="text" class="form-control" v-model="textMessage" @keyup.enter="sendMessage">
                    <br>
                    <button type="button" class="btn btn-outline-primary" @click="sendMessage"> 發送</button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        
        data() {
            return {
                messages:[],
                textMessage:''
            }
        },


        mounted() {
            console.log('123sdfsdfsd');
           window.Echo.channel('chat')
            .listen('Message',  (message)=>{
          this.messages.push('She:'+message.data);
    console.log(message);


            });
    
    
    
    },
        methods: {
            sendMessage()
            {
                axios.post('/messages',{body:this.textMessage});
                this.messages.push('Me:'+this.textMessage);
                this.textMessage='';


            }

        },
    }
</script>
